.home{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left{
    width: 20%;
    height: 1500px;
    /* border: 1px solid black; */
    border-radius: 10px;
    /* background-color: red; */
    margin: 30px auto;
    font-family: 'Poppins', sans-serif;
    
}
.right{
    width: 80%;
    margin: 0 15px;
}
@media (max-width:750px) {
    
    .left{
        display: none;
    }
   
}